html
    head
        title Math Tools
    body
        h1 Math Tools

        ul
            li
                a(href="/mcd") Massimo comune divisore
            li
                a(href="/numeri-primi") Verifica numeri primi
