extends layout

block content
    h1 Massimo Comune Divisore

    figure(class="highlight")
        p Elaborato #{risultato.elaborato ? 'Si' : 'No'}
        p MCD(#{risultato.numeriPartenza})= (#{risultato.stringaFinale}) = #{risultato.mcd}

    a.btn.btn-primary(href="/mcd") Nuova elaborazione
