html
    head
        title Massimo Comune Divisore
    body
        h1 Massimo Comune Divisore
        p Elaborato #{risultato.elaborato ? 'Si' : 'No'}
        p MCD(#{risultato.numeriPartenza})= (#{risultato.stringaFinale}) = #{risultato.mcd}

        ul
            li
                a(href="/numeri-primi") Nuova elaborazione
            li
                a(href="/") Elenco iniziale