extends layout

block content
    h1 Verifica numeri primi
    form(action="/numeri-primi/verifica" method="POST")

        div.input-group
            label(class="control-label") Valori di input
            input(class="form-control" type="text" name="numero" placeholder="Inserire numero da verificare")

            if error !== ''
                .help-block.has-error #{error}

        button(class="btn btn-primary",type="submit") Calcola
