html
    head
        title Verifica Numero Primo
    body
        h1 Verifica Numero Primo
        p Risultato = #{risultato}

        ul
            li
                a(href="/numeri-primi") Nuova elaborazione
            li
                a(href="/") Elenco iniziale